<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="container">
    <div style="text-align:center">
      <table id="book-table" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titel</th>
            <th>Autor</th>
            <th>Verlag</th>
            <th>Jahr</th>
            <th>Seiten</th>
          </tr>
        </thead>
        <tbody *ngFor="let book of books; let i = index">
          <tr id='booktable-{{book.id}}'>
            <td scope="row" data-type='id'>{{book.id}}</td>
            <td data-type='title'>{{book.title}}</td>
            <td data-type='author'>{{book.author}}</td>
            <td data-type='publisher'>{{book.publisher}}</td>
            <td data-type='year'>{{book.year}}</td>
            <td data-type='pages'>{{book.pages}}</td>
            <td><button type="button" class="btn btn-danger delete-button btn-md btn-sm btn-block" (click)="deleteEntry(i)" >Delete</button></td>
            <td><button type="button" class="btn btn-success edit-button btn-md btn-sm btn-block" (click)="editEntry(i)">Edit</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col">
          <button type="button" (click)="open(modal-add)" class="btn btn-primary btn-block">Neues Element</button>
        </div>
        <div class="col">
          <button type="button" (click)="resetTable()" class="btn btn-info btn-block">Reset</button>
        </div>
        <div class="col">
          <button type="button" (click)="deleteAll()" class="btn btn-danger btn-block">Alle löschen</button>
        </div>
      </div>
     
      </div>
    </div>
  </div>
</section>
